<header class="navigation">
  <div class="menu-wrapper">
    <a href=root class="logo">
      <%= image_tag("shield_logo.png", :alt => "shield_logo") %>
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
    <ul id="navigation-menu">
      <li><%= link_to "Project Viking", viking_path %>
      <li><%= link_to "Team", team_path %></li>
      <li><a href="mailto:info@shieldbreak.com">Contact</a></li>
      <li class="sign-up"><a href="javascript:void(0)">Beta</li>
    </ul>
  </div>
</header>


